<div class="row middle-on-medium between-on-small middle-on-large">
    <div class="column small-12 medium-12 align-center">
        <form action="index.php?impressum" method="post">
            <input type="hidden" name="controller" value="general">
            <input type="hidden" name="action" value="impressum">
            <input type="submit" value="Impressum">
        </form>
        <form action="index.php?kontakt" method="post">
            <input type="hidden" name="controller" value="general">
            <input type="hidden" name="action" value="kontakt">
            <input type="submit" value="Kontakt">
        </form>
        <p>© 2017 All Rights Reserved</p>
    </div>
</div>