<div class="row between-on-small" align="center">
    <div class="column small-12 medium-12">
        <div>
            <form action="index.php?startseite" method="post">
                <input type="hidden" name="controller" value="blog">
                <input type="hidden" name="action" value="list_action">
                <input type="submit" value="Startseite">
            </form>
        </div>
        <div>
            <form action="index.php?kontakt" method="post">
                <input type="hidden" name="controller" value="general">
                <input type="hidden" name="action" value="kontakt">
                <input type="submit" value="Kontakt">
            </form>
        </div>
        <div>
            <form action="index.php?impressum" method="post">
                <input type="hidden" name="controller" value="general">
                <input type="hidden" name="action" value="impressum">
                <input type="submit" value="Impressum">
            </form>
        </div>
    </div>
</div>
